 @import url('https://fonts.googleapis.com/css2?family=Merienda&family=Roboto:wght@100;300&display=swap');
      .ma_nav
{
	z-index:99;

	background-color: rgba(0,0,0,0.55);
	font-family: 'Merienda',serif;
	box-shadow: 1px 1px 3px rgba(255,255,255,0.54)

}

.ma_nav .nav-link
{
	border-bottom: 1px solid transparent;
	transition: padding-bottom .4s ease-in-out,border-color .3s ease;
}
.ma_nav .nav-link:hover,
.ma_nav .nav-link:active
{
	padding-bottom: 15px;
	border-bottom: var(--bs-teal)
}
.btn-order
{
	color: var(--bs-teal);
	border-color: var(--bs-teal);
	transition: 0.5s;
}
.btn-order:hover,
.btn-order:active
{
	color: white;
	background-color: var(--bs-teal);

}
.banner
{
background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/work.jpg);
	height: 800px;
	background-size: cover;
}
.banner1
{
min-height:450px;

}
.cont1
{
 width:100%;
 background-color:blue;
}
.banner-desc
{
	font-size:40px;
	color: white;
}

.text
{
 font-size:20px;
 color:whitesmoke;
}

.bloc
{
padding:15px;
display:flex;
flex-wrap:wrap;
}