<nav class="navbar navbar-expand-lg navbar-dark  text-light ma_nav position-fixed w-100 py-3">
  <div class="container-fluid">
    <a class="navbar-brand text-uppercase fw-bolder mx-4 py-3" href="#">Artisania</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item pe-4">
          <a class="nav-link active" aria-current="page" href="{%url 'app:home'%}">Acceuil</a>
        </li>
        <li class="nav-item pe-4">
          <a class="nav-link" href="{%url 'artisan_app:list_atelier'%}">Ateliers</a>
        </li>

        <li class="nav-item pe-4">
          <a class="nav-link " href="#">Boutique</a>
        </li>
         <li class="nav-item pe-5">
          <a class="nav-link " href="#">Commande</a>
        </li>
         <li class="nav-item pe-4">
          <a class="nav-link" href="#" tabindex="-1">S'inscrire</a>
        </li>
        <li class="nav-item pe-4">
          <a class="btn btn-order rounded-0" href="#" >Se connecter</a>
        </li>
      </ul>


    </div>
  </div>
</nav>